{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans "Delete status" %}{% endblock %}

{% block content %}
  <h2 class="my-4">{% trans "Status deletion" %}</h2>
  <p>{% blocktrans with status_name=object.name %}Are you sure you want to delete status "{{ status_name }}"?{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
    <a href="{% url 'statuses:statuses_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
  </form>
{% endblock %}
