# Виртуальное окружение
venv/

# Python кэш и служебные файлы
__pycache__/
*.py[cod]
*.sqlite3

# IDE-шные и системные файлы
*.log
*.DS_Store

# Настройки среды
.env

# Статические файлы при деплое
staticfiles/
