{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete label" %}{% endblock %}

{% block content %}
  <h1>{% trans "Label deletion" %}</h1>
  <p>{% blocktrans with label_name=object.name %}Are you sure you want to delete label "{{ label_name }}"?{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
    <a href="{% url 'labels:labels_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
  </form>
{% endblock %}
