{% extends "base.html" %}
{% block title %}Метки{% endblock %}

{% block content %}
  <h2>Метки</h2>
  <a class="btn btn-primary my-3" href="{% url 'labels:labels_create' %}">Создать метку</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for label in object_list %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'labels:labels_update' label.id %}">Изменить</a><br>
            <a href="{% url 'labels:labels_delete' label.id %}">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
