{% extends 'base.html' %}
{% load django_bootstrap5 i18n %}
{% block title %}{% trans "Edit task" %}{% endblock %}
{% block content %}
  <h1>{% trans "Edit task" %}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_name" class="form-label">{% trans "Name" %}</label>
      {{ form.name }}
    </div>
    <div class="mb-3">
      <label for="id_description" class="form-label">{% trans "Description" %}</label>
      {{ form.description }}
    </div>
    <div class="mb-3">
      <label for="id_status" class="form-label">{% trans "Status" %}</label>
      {{ form.status }}
    </div>
    <div class="mb-3">
      <label for="id_executor" class="form-label">{% trans "Executor" %}</label>
      {{ form.executor }}
    </div>
    <div class="mb-3">
      <label for="id_labels" class="form-label">{% trans "Labels" %}</label>
      {{ form.labels }}
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
  </form>
{% endblock %}
